---
import Hamburger from "../hamburger-menu/Hamburger.astro";

const logo = {
    src: "/logo-berlin.png",
    alt: "Berlin Automotora Logo",
    width: 220, // Ajustado para el nuevo tamaño
    height: 88
};

const navLinks = [
    { name: "Inicio", href: "/" },
    { name: "Nosotros", href: "/nosotros" },
    { name: "Catálogo", href: "/catalogo" },
    { name: "Contacto", href: "/contacto" }
];

const socialLinks = [
    {
        name: "Facebook",
        href: "https://web.facebook.com/profile.php?id=61552210761850",
        iconClass: "fab fa-facebook-f",
        hoverColor: "hover:text-blue-500" // Hover sobre el ícono
    },
    {
        name: "Instagram",
        href: "https://www.instagram.com/berlinautomotora/",
        iconClass: "fab fa-instagram",
        hoverColor: "hover:text-pink-500" // Hover sobre el ícono
    }
];
---

<header class="bg-black fixed w-full top-0 z-50 border-b border-gray-800/70 shadow-2xl">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-24">

            <div class="flex-shrink-0">
                <a href="/" class="flex items-center">
                    <img class="h-20 w-auto" src={logo.src} alt={logo.alt} width={logo.width} height={logo.height} />
                </a>
            </div>

            <nav class="hidden lg:flex flex-1 justify-center items-center space-x-8">
                {navLinks.map((link) => (
                    <a href={link.href} class="text-gray-300 hover:text-white font-semibold text-base tracking-wider uppercase transition-colors duration-300">
                        {link.name}
                    </a>
                ))}
            </nav>

            <div class="hidden lg:flex items-center justify-end space-x-5">
                <div class="flex space-x-4">
                    {socialLinks.map((social) => (
                        <a href={social.href} target="_blank" rel="noopener noreferrer" aria-label={social.name}>
                            <i class:list={[social.iconClass, social.hoverColor, "text-gray-400 text-xl transition-colors duration-300"]}></i>
                        </a>
                    ))}
                </div>
                <a href="/consignacion" class="bg-blue-600 text-white font-bold px-5 py-2.5 rounded-md hover:bg-blue-700 transition-all duration-300 text-sm shadow-lg transform hover:scale-105">
                    Vende tu Auto
                </a>
            </div>

            <div class="lg:hidden">
                <Hamburger />
            </div>

        </div>
    </div>
</header>